//theme colors
$blue-half: #7fa5c3;
$blue: #01559d;
$yellow: #fde01b;
$dark: #212121;

//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(../css/font-awesome.min.css);
@import url(../css/flaticon.css);

//defaults

$main-font: 'Open Sans', sans-serif !important;

h1, h2, h3, h4, h5, h6{
  font-family: $main-font;
  font-weight: bold;
}

.desc{
  color: lighten($dark, 60%);
}

body{
  font-family: $main-font;
}
