// effects
@mixin ease {
  transition: all 1s ease;
}

//elements
@mixin info-box {
  display: flex;
  width: 65%;
  i{
    flex-grow: 4;
    &:before{
      font-size: 60px;
    }
  }
  p{
    padding: 0 0 0 20px;
    flex-grow: 5;
    text-align: left;
    font-size: medium;
    strong{
      font-size: x-large;
    }
  }
}

@mixin spacer($color) {
  padding: 3px 0px;
  border-bottom: 1px solid $color;
  width: 100%;
  height: 2px;
  margin: 10px auto;
  margin-bottom: 20px;
}

//extend's
button{
  i{
    &:before{
      margin: 0px 4px;
    }
  }
}

.r-save-button{
  float: right;
  text-align: right;
}




// I don't have idea what i'm doing

/* Requirements - full height parent wrappes */
html, body {
  height: 100%;
}

/**
 * FLEXBOX
 */

/* Flexbox on body */
#holder {
  /* display: flex with all fallbacks */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  /* direction with all fallbacks */
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  /* TODO: I read something about issues with min-height and no height! */
  min-height: 100%;
}

/* Div before footer to grow full height */
#wrapper {
  /* flex (item) with fallbacks*/
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  /*height: 20%;               /* For old syntax, otherwise collapses. */
  /* flex grow, shrink, basis fallbacks */
  -webkit-flex: 1 0 auto;          /* Chrome */
  -ms-flex: 1 0 auto;              /* IE 10 */
  flex: 1 0 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  /* IE10 tweener syntax : seems not really to be needed*/
  /*-ms-flex-preferred-size: auto;*/
}
/**
 * IE 9 does not support flexbox : using modernizr and according workarounds to fix it
 * this example uses
 * http://galengidman.com/2014/03/25/responsive-flexible-height-sticky-footers-in-css/
 */
.no-flexbox body {
  display: table;
  width: 100%;
}

/* perhaps we don't need the table-row classes */
/*.no-flexbox .table-row, */
.no-flexbox .page-wrapper {
  display: table-row;
  height: 100%;
}
