// estilo ara dispositivos moviles
@media screen and (max-width: 800px){
  #holder{
    header{
      .main-logo{
        img{
        max-height: 40px;
        }
      }
      .sec-logo{
        display: none !important;
        img{
          max-height: 40px;
        }
      }
    }

    h1{
      font-size: x-large;
    }

    #wrapper{
      padding-top: 0px;
      .main-holder{width: 90%;}
      .pass-recovered{
        width: 100%;
      }
      .panel{
        width: 100% !important;
      }
    }

    .login{
      padding: 8px;
      overflow: auto;
      background-size: cover;
      background: url("../images/mobile-bg.png");
    }

    .set-password{
      .pass-recover{
        width: 100%;
      }
    }

    .user-bloqued{
      .main-holder{
        .holder{
          width: 100%;
        }
      }
    }

    .info{
      width: 100% !important;
      p{
        font-size: x-large !important;
      }
    }

    footer{
      p{

      }
      .social{
        text-align: center;
        flex-grow: 1;
      }
    }
  }
}

@media screen and(min-height: 885px) {
  #holder{
    #wrapper{
      min-height: 85.5vh !important;
    }
  }

}
