//  estilo  para el tema
@import "fonts-colors";
@import "mixins";



//defaults
::selection{
  background: $yellow;
  color: $blue;
}

::-webkit-scrollbar{
  width:8px;
  background: $dark;
}

::-webkit-scrollbar-thumb{
  background: $blue;
}

#holder{
  // height: 100vh;

  header{
    background: $blue-half;
    // display: flex;
    position: relative;
    height: 70px;
    padding: 0px 20px;
    .main-logo{
      // flex-grow: 9;
      display: inline-block;
      height: 100%;
      padding: 8px 20px;
      img{
        height: 100%;
      }
    }
    .sec-logo{
      // flex-grow: 1;
      position: absolute;
      right: 20px;
      display: inline-block;
      max-height: 60px;
      padding: 12px 10px;
      img{
        height: 100%;
      }
    }
  }

  #wrapper{
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
    // min-height: 82.5vh;
  }

  footer{
    width: 100%;
    padding: 7px;
    background: $dark;
    color: rgba(white, 0.6);
    overflow: auto;
    float: left;
    p{
      padding: 0 40px 0 0;
      text-align: center;
      span{
        color: $yellow;
      }
    }
    .social{
      i{
        font-size: 20px;
        margin: 0 4px;
        text-align: right;
        &:hover{
          color: white;
          @include ease;
          cursor: pointer;
        }
      }
    }
  }

  //secciones

  .main-holder{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 0px;

  }

  //login
  .login{
    // min-height: 88vh;
    background: url('../images/login-bg.png');
    background-size: cover;
    color: white;
    padding: 10px 0 0 0;
    .col1{
      margin-top: 60px;
      padding: 0px 40px;
      ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
          margin: 15px 0px;
          p{
            display: inline;
          }
          i{
            margin: 0px 8px 0px -16px;
            display: inline;
            &:before{
              font-size: xx-large !important;
            }
          }
        }
      }
    }
    .col2{
      .panel{
        color: $dark;
        width: 90%;
        padding: 10px 20px;
        .form-group{
          width: 90%;
          margin: 10px 0px;
          label{text-align: right;}
          input[type=email], input[type=password]{
            width: 90%;
            margin-left: 25px;
          }
        }
      }
      .info{
        @include info-box;
      }
    }
  }

  //recuperar contraseña
  .recover{
    min-height: 75vh;
    .pass-recover{
      width: 60%;
      margin: 0% auto;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
        margin: 0 0 40px 0;
      }
      .form-group{
        margin: 0 auto;
        button{
          margin: 40px 0px;
          i{margin: 0px 6px}
        }
      }
      .info{
        @include info-box;
        width: 50%;
        margin: 0 auto;
        color: $blue;
      }
    }
  }

  //establecer contraseña
  .set-password{
    min-height: 75vh;
    .pass-recover{
      width: 60%;
      margin: 0 auto;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
        margin: 0 0 40px 0;
      }
      .form-group{
        margin: 15px auto;
        button{
          margin: 40px 0px;
          i{margin: 0px 6px}
        }
      }
      .info{
        @include info-box;
        width: 50%;
        margin: 0 auto;
        color: $blue;
      }
    }
  }

  //password recovered
  .recovered{
    min-height: 75vh;
    .pass-recovered{
      width: 60%;
      margin: 0 auto;
      h1{
        text-align: center;
      }
      p{
        color: lighten($dark, 50%);
        text-align: center;
        margin: 0 0 40px 0;
      }
      figure{
        text-align: center;
        i{
          margin: 25px auto;
          &:before{
            font-size: 135px;
            color: $blue;
          }
        }
      }
      .info{
        @include info-box;
        width: 50%;
        margin: 0 auto;
        color: $blue;
        p{color: $blue;}
      }
    }
  }

  //modify user
  .register{
    // min-height: 88vh;
    // background-size: cover;
    padding: 80px 0 0 0;
    label{text-align: right;}
    .spacer{@include spacer(lighten($dark, 60%)); float: left;}
    .col1{
      .panel{
        padding-bottom: 40px;
        figure{
          margin: 40px auto;
          text-align: center;

        }
        .form-group{
          .input-group{
            width: 60%;
            margin: 20px auto;
            .media-in{
              width: 100%;
            }
          }
        }
      }
      .info{
        @include info-box;
        margin: 20px auto;
        color: $blue;
      }
    }
    .col2{
      .form-group{
        overflow: auto;
        margin: 20px 0px;
        .col-sm-4{
          font-size: small;
          padding: 0px;
        }
      }
    }
  }

  //update info
  .actualizar-datos{
    // min-height: 88vh;
    // background-size: cover;
    padding: 80px 0 0 0;
    h1{text-align: center;}
    label{text-align: right;}
    .spacer{@include spacer(lighten($dark, 60%)); float: left;}
    .col1{
      .jumbotron{
        padding: 20px 30px;
        h1{
          i{margin: 10px}
        }
        p{
          padding: 0px 20px;
        }
      }
      .info{
        @include info-box;
        margin: 20px auto;
        color: $blue;
      }
    }
    .col2{
      h1{text-align: left; text-transform: none;}
      .form-group{
        overflow: auto;
        margin: 20px 0px;
        .col-sm-4{
          font-size: small;
          padding: 0px;
        }
      }
    }
  }

  //user-bloked
  .user-bloqued{
    min-height: 75vh;
    .holder{
      width: 60%;
      margin: 0% auto;
      h1{
        text-align: center;
      }
      .pregunta{
        text-align: center;

      }
      p{
        color: lighten($dark, 50%);
        text-align: center;
        margin: 0 0 40px 0;
      }
      figure{
        text-align: center;
        i{
          margin: 25px auto;
          padding: 32px 35px;
          border-radius: 50%;
          background: $blue;
          text-align: center;
          &:before{
            font-size: 65px;
            color: white;
          }
        }
      }
      .panel{
        .form-group{
          margin: 20px auto;

        }
      }
      .info{
        @include info-box;
        width: 50%;
        margin: 0 auto;
        color: $blue;
        p{color: $blue;}
      }
    }
  }


  //worng recover
  .wrong{
    min-height: 75vh;
    .pass-recovered{
      width: 60%;
      margin: 0% auto;
      h1{
        text-align: center;
      }
      p{
        color: lighten($dark, 50%);
        text-align: center;
        margin: 0 0 40px 0;
      }
      figure{
        text-align: center;
        i{
          margin: 25px auto;
          padding: 25px 25px;
          background: red;
          border-radius: 50%;
          &:before{
            font-size: 80px;
            color: white;
          }
        }
      }
      .info{
        @include info-box;
        width: 50%;
        margin: 0 auto;
        color: $blue;
        p{color: $blue;}
      }
    }
  }

  //worng recover
  .pass-recover-wrong{
    min-height: 75vh;
    .pass-recovered{
      width: 60%;
      margin: 0% auto;
      h1{
        text-align: center;
      }
      p{
        color: lighten($dark, 50%);
        text-align: center;
        margin: 0 0 40px 0;
      }
      figure{
        text-align: center;
        i{
          margin: 25px auto;
          padding: 30px 35px;
          background: red;
          border-radius: 50%;
          &:before{
            font-size: 100px;
            color: white;
          }
        }
      }
      .button-holder{
        text-align: center;
        margin-left: 0px !important;
        button{
          margin: 20px auto;

        }
      }
      .info{
        @include info-box;
        width: 50%;
        margin: 0 auto;
        color: $blue;
        p{color: $blue;}
      }
    }
  }


}

//mobile
@import "mobile";
