
.lab {
    margin: 0px auto;
    margin-top: 30px;
    width: 102px;
    height: 150px;
    position: relative;
}

.lab img {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

figure{
  bottom: 15px;
  position: relative;
}

.lab i {
    z-index: 2;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 16px;
    opacity: 0;
    animation: bubble1 linear 3s infinite;
}

.lab i:nth-child(1) {
    animation-name: bubble1;
}

.lab i:nth-child(2) {
    animation-delay: .7s;
    animation-name: bubble2;
}

.lab i:nth-child(3) {
    animation-delay: 1.5s;
    animation-name: bubble1;
}

.lab i:nth-child(4) {
    animation-delay: 2.3s;
    animation-name: bubble2;
}

@keyframes bubble1{
    0%{bottom:21px; left:25px; transform:scale(.1); opacity:1; background:#fff;}
    10%{bottom:25px; left:20px; transform:scale(.2); opacity:1; background:#fff; }
    20%{bottom:10px; left:41px; transform:scale(.2); opacity:1; background:#fff;}
    30%{bottom:15px; left:35px; transform:scale(.3);opacity:1; background:#fff;}
    40%{bottom:19px; left:31px; transform:scale(.4); opacity:1; background:#fff; }
    49%{bottom:19px; left:27px; transform:scale(.4); opacity:1; background:#fff; }
    50%{bottom:19px; left:27px; transform:scale(.5); opacity:1; background:#ff8ab8; }
    60%{bottom:55px; left:31x; transform:scale(.6); }
    70%{bottom:60px; left:26px; transform:scale(.7); }
    80%{bottom:65px; left:31px; transform:scale(.8);}
    90%{bottom:80px; left:27px; transform:scale(1); }
    99%{bottom:123px; left:51px; transform:scale(1); opacity:.5;}
    100%{bottom:153px; left:31px; transform:scale(5); opacity:0; background:#ff8ab8;}
}

@keyframes bubble2{
    0%{bottom:21px; left:23px; transform:scale(.1); opacity:1; background:#fff;}
    10%{bottom:25px; left:28px; transform:scale(.2); opacity:1; background:#fff; }
    20%{bottom:10px; left:23px; transform:scale(.2); opacity:1; background:#fff;}
    30%{bottom:25px; left:28px; transform:scale(.3);opacity:1; background:#fff;}
    40%{bottom:29px; left:23px; transform:scale(.4); opacity:1; background:#fff; }
    49%{bottom:29px; left:28px; transform:scale(.4); opacity:1; background:#fff;}
    50%{bottom:29px; left:28px; transform:scale(.5); opacity:1; background:#61d3ff;}
    60%{bottom:65px; left:23px; transform:scale(.6); }
    70%{bottom:90px; left:28px; transform:scale(.7); }
    80%{bottom:95px; left:23px; transform:scale(.8);}
    90%{bottom:80px; left:28px; transform:scale(1); }
    99%{bottom:123px; left:53px; transform:scale(1); opacity:.5; }
    100%{bottom:153px; left:23px; transform:scale(5); opacity:0; background:#61d3ff;}
}
