    /*
    Flaticon icon font: Flaticon
    Creation date: 29/05/2016 14:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-call-center-service-for-information:before { content: "\f100"; }
.flaticon-sms-message:before { content: "\f101"; }
.flaticon-telephone:before { content: "\f102"; }
.flaticon-woman-with-headset:before { content: "\f103"; }
    
    $font-Flaticon-call-center-service-for-information: "\f100";
    $font-Flaticon-sms-message: "\f101";
    $font-Flaticon-telephone: "\f102";
    $font-Flaticon-woman-with-headset: "\f103";